.center {
  display: flex;
  justify-content: center;
  position: relative;
  top: 50px;
}

.button-right {
  left: 110px;
}

.register-form {
  display: flex;
  justify-content: center;
  position: relative;
}

.error-message {
  top: 50px;
}

.top-btn {
  top: 100px;
}

input.ng-invalid.ng-touched {
  border: 1px solid red;
}
