<div style="background-image: url(assets/aerobics-wallpaper-1920x1080.jpg)" class="image-container">
  <div>
    <button mat-button
            #matBtn
            (mouseover)="matBtn._elementRef.nativeElement.click()"
            [matMenuTriggerFor]="menu">Protein
    </button>

    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="getListofProteins('Whey')"><b>Whey Protein</b></button>
      <button mat-menu-item (click)="getListofProteins('Isolate')">Isolate Protein</button>
    </mat-menu>
  </div>
</div>




